
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="productForm" (ngSubmit)="save()">
        <div>
          <h3>Login Ekranı</h3>
        </div>
        
          
          <div class="mb-3">
            <label class="form-label">E-mail :</label>
            <input formControlName="email" type="text" class="form-control" />
  
            <div class="form-text text-danger">
              <div *ngIf="isInvalid('email')">
                <div *ngIf="isInvalidControl('email', 'required')">
                  email alanı gereklidir
                </div>
             
              <div *ngIf="isInvalidControl('email', 'pattern')">
                email alanı doğru formatta girilmelidir.
              </div>

            
  
              </div>
            </div>
          </div>


          <div class="mb-3">
            <label class="form-label">Password :</label>
            <input formControlName="password" type="text" class="form-control" />
            <div class="form-text text-danger">
              <div *ngIf="isInvalid('password')">
                <div *ngIf="isInvalidControl('password', 'required')">
                  şifre alanı gereklidir.
                </div>
                <div *ngIf="isInvalidControl('password', 'passwordFormat')">
                   şifre doğru formatta değil.
                </div>

              </div>
            </div>
          </div>


          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="isPublish"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Beni hatırla?</label
            >
          </div>

          <button (click)="this.isButtonVisible = true" type="submit" class="btn btn-primary">Submit</button>

        


         

          <!--kullanıcı bilgileri gözüksün-->

          <div class="mb-3" *ngIf="this.isButtonVisible" >
            <h3>Kullanıcı Bilgileri</h3>
            <ul>
              <li>Girilen Email: :{{ productForm.get("email")?.value | json }}</li>
              <li>Girilen Şifre :{{ productForm.get("password")?.value | json }}</li>
              <li>Errors :{{ productForm.get("password")?.errors | json }}</li>
            
            </ul>
          </div>
        


      

        </form>
      
    </div>
  </div>
</div>