
<div class="container">
  <div class="row">
    <div  class="col-md-9 offset-md-0 "  >
      <form  [formGroup]="visitorForm" (ngSubmit)="save()">
        <div>
          <h3>Ziyaretçi Defteri</h3>
        </div>

        <!--isim-->

        <div class="mb-3">
          <label class="form-label">İsim :</label>
          <input formControlName="name" type="text" class="form-control" />
          <div class="form-text text-danger">
            <div *ngIf="isInvalid('name')">
              <div *ngIf="isInvalidControl('name', 'required')">
                ziyaretçi isim alanı girilmesi gereklidir.
              </div>

              <div
                *ngIf="
                  isInvalidControl('name', 'minlength') ||
                  isInvalidControl('name', 'maxlength')
                "
              >
                ziyaretçi isim alanı en az 5 karakter girilmesi gereklidir.
              </div>
            </div>
          </div>
     
        </div>

        <!--email-->

         
        <div class="mb-3">
            <label class="form-label">E-mail :</label>
            <input formControlName="email" type="text" class="form-control" />
  
            <div class="form-text text-danger">
              <div *ngIf="isInvalid('email')">
                <div *ngIf="isInvalidControl('email', 'required')">
                  email alanı gereklidir
                </div>
             
              <div *ngIf="isInvalidControl('email', 'pattern')">
                email alanı doğru formatta girilmelidir.
              </div>

            
  
              </div>
            </div>
        </div>


        <!--birth-date-->

        <div class="mb-3">
          <label class="form-label">Doğum tarihiniz :</label>
          <input
            formControlName="birthDate"
            type="date"
            class="form-control"
          />
          <div class="form-text text-danger">
            <div *ngIf="isInvalid('birthDate')">
              <div *ngIf="isInvalidControl('birthDate', 'required')">
                doğum tarihi alanı girilmesi gereklidir.
              </div>
              <div *ngIf="isInvalidControl('birthDate', 'birthdateFormat')">
                doğum tarihi 16 yaşından küçük olmamalıdır.
              </div>
            </div>
          </div>
        </div>

       
        <!--content-->

        <div class="mb-3">
          <label class="form-label">Yazmak istedikleriniz :</label>
          <input style="height: 100px" formControlName="content" type="text" class="form-control" />

          <div class="form-text text-danger">
            <div *ngIf="isInvalid('content')">
              <div *ngIf="isInvalidControl('content', 'required')">
                yazı alanı gereklidir.
              </div>

              <div
                *ngIf="
                  isInvalidControl('content', 'minlength') ||
                  isInvalidControl('content', 'maxlength')
                "
              >
                 yazı alanı en az 50 karakter girilmelidir gereklidir.
              </div>
            </div>
          </div>
        </div>

        <!--contentType-->
        <div class="mb-3">
          <label class="form-label">Yazı nedeniniz :</label>
          <select formControlName="contentType" class="form-select">
            <option value="">Seçiniz</option>
            <option
              value="{{ contentType.id }}"
              *ngFor="let contentType of contentTypeList"
            >
              {{ contentType.text }}
            </option>
          </select>

          <div class="form-text text-danger">
            <div *ngIf="isInvalid('contentType')">
              <div *ngIf="isInvalidControl('contentType', 'required')">
                lütfen yazı nedeninizi belirtiniz.
              </div>
            </div>
          </div>
        </div>

        <!--publishDateExpire-->

        <!--
        <div class="mb-3">
          <label class="form-label">Yayın süresi seçiniz:</label>
          <div *ngFor="let publish of publishMenulist">
            <div class="form-check">
              <input
                formControlName="publishDateExpire"
                class="form-check-input"
                type="radio"
                value="{{ publish.text }}"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                {{ publish.text }}
              </label>
            </div>
          </div>
        </div>  -->

        <div class="mb-3">
          <label class="form-label">Publish Expire</label>
          <div *ngFor="let publish of publishMenulist">
            <div class="form-check">
              <input formControlName="publishdateExpire" class="form-check-input" type="radio"
                value="{{ publish.text }}" />
              <label class="form-check-label" for="flexRadioDefault1">
                {{ publish.text }}
              </label>
            </div>
          </div>
        </div>



      
        <button (click)="this.isButtonVisible = true" type="submit" class="btn btn-primary">Kaydet</button>
       
  </form>


  <div class="row">
    <div class="col-md-12">
      <table class="table mt-5">
        <thead>
          <tr class="table-title">
            <th>Name</th>
            <th>E-mail</th>
            <th>Content</th>
            <th>Birthdate</th>
            <th>Publish</th>
            <th>Content Type</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-text" *ngFor="let visitor of visitorStateService.filterConfirm()">
            <th>{{ visitor?.name }}</th>
            <th>{{ visitor?.email }}</th>
            <th>{{ visitor?.content }}</th>
            <th>{{ visitor?.birthDate }}</th>
            <th>{{ visitor?.publishdateExpire }}</th>
            <th>{{ visitor?.contentType }}</th>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
      
  
     
    </div>
  </div>


</div>


