<app-customer-list></app-customer-list>
<app-order-list></app-order-list>


<!--<div appCustom>Custom Directive</div>-->

<!--
<app-inline-component></app-inline-component>
<app-structural-directive></app-structural-directive>
-->
<!--<app-example></app-example>-->

<!--<app-normal></app-normal>-->

<!---
<h1>{{name}}</h1>
<input type="text" value="{{name}}"> 
<input type="text" [value]="name">   

<input type="text" [value]="'abc'">  
<button (click)="change()">Değiştir</button>
-->
<router-outlet></router-outlet>
