<p>reactive-form works!</p>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="productForm" (ngSubmit)="save()">
        <div>
          <h3>Ürün kayıt</h3>
        </div>

        <div class="mb-3">
          <label class="form-label">İsim :</label>
          <input formControlName="name" type="text" class="form-control" />
         
        </div>
       

        <div class="mb-3">
          <label class="form-label">Fiyat :</label>
          <input formControlName="price" type="number" class="form-control" />

        </div>

        <div class="mb-3">
          <label class="form-label">Kategori :</label>
          <select formControlName="category" class="form-select">
            <option value="">Seçiniz</option>
            <option
              value="{{ category.id }}"
              *ngFor="let category of categoryMenuList"
            >
              {{ category.text }}
            </option>
          </select>

        </div>

        <div class="mb-3">
          <label class="form-label">Yayın süresi :</label>
          <div *ngFor="let publish of publishMenulist">
            <div class="form-check">
              <input
                formControlName="publish"
                class="form-check-input"
                type="radio"
                value="{{ publish.id }}"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                {{ publish.text }}
              </label>
            </div>
          </div>
        </div>

        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="isPublish"
          />
          <label class="form-check-label" for="exampleCheck1"
            >Yayınlansın mı?</label
          >
        </div>
        <button (click)="this.isButtonVisible = true" type="submit" class="btn btn-primary">Kaydet</button>


        
          <!--kullanıcı bilgileri gözüksün-->

          <div class="mb-3" *ngIf="this.isButtonVisible" >
            <h3>Kullanıcı Bilgileri</h3>
            <ul>
              <li>Girilen isim: :{{ productForm.get("name")?.value | json }}</li>
              <li>Girilen fiyat :{{ productForm.get("price")?.value | json }}</li>
              <li>Girilen kategori :{{ productForm.get("category")?.value | json }}</li>
              <li>süre :{{ productForm.get("isPublish")?.value | json }}</li>
              <li>yayın kategori :{{ productForm.get("publish")?.value | json }}</li>
           
            
            </ul>
          </div>
        








      </form>
    </div>
  </div>
</div>