<!--galeri sayfası için glightbox kütüphanesini kullandım-->

<div class="gallery-banner">
  <div >
    <ul>
      <li style="float: left; margin: 5px;">
  
        <a href="https://img.freepik.com/free-photo/cherry-blossoms-spring-chureito-pagoda-fuji-mountain-sunset-japan_335224-215.jpg"
          class="glightbox">
  
          <img style="height: 105px;"
            src="https://img.freepik.com/free-photo/cherry-blossoms-spring-chureito-pagoda-fuji-mountain-sunset-japan_335224-215.jpg"
            alt="image" />  
        </a>   
      </li>  

      <li style="float: left; margin: 5px;">
        <a href="https://www.aircalin.nc/sites/default/files/2022-08/Mont%20Fuji%20-%20Japon_Libre%20de%20droit-min.jpg"
          class="glightbox">
  
          <img style="height: 105px;"
            src="https://www.aircalin.nc/sites/default/files/2022-08/Mont%20Fuji%20-%20Japon_Libre%20de%20droit-min.jpg"
            alt="image" />
        </a>
      </li>
  
      <li style="float: left; margin: 5px;"> 
        <a href="https://i4.hurimg.com/i/hurriyet/75/1110x740/591e9ef80f254425c8aefeee.jpg" class="glightbox">
          <img style="height: 105px;" src="https://i4.hurimg.com/i/hurriyet/75/1110x740/591e9ef80f254425c8aefeee.jpg"
            alt="image" />
        </a>
      </li> 
    </ul>
  </div>
  
  <!--2-->
  
  <div> 
    <ul>
      <li style="float: left; margin: 5px;">
  
        <a href="https://st4.depositphotos.com/1035449/24438/i/600/depositphotos_244381144-stock-photo-nyhavn-in-copenhagen-denmark.jpg" class="glightbox">
  
          <img style="height: 105px;" src="https://st4.depositphotos.com/1035449/24438/i/600/depositphotos_244381144-stock-photo-nyhavn-in-copenhagen-denmark.jpg"
            alt="image" />  
        </a>  
      </li>
  
      <li style="float: left; margin: 5px;">
        <a href="https://images.pexels.com/photos/672532/pexels-photo-672532.jpeg?cs=srgb&dl=pexels-dominika-gregu%C5%A1ov%C3%A1-672532.jpg&fm=jpg" class="glightbox">
          <img style="height: 105px;" src="https://images.pexels.com/photos/672532/pexels-photo-672532.jpeg?cs=srgb&dl=pexels-dominika-gregu%C5%A1ov%C3%A1-672532.jpg&fm=jpg"
            alt="image" />
        </a>
      </li>
  
      <li style="float: left; margin: 5px;">
        <a href="https://a.cdn-hotels.com/gdcs/production2/d1963/0f6d0b5b-499c-4d1c-8995-1d2ea4f9a9a4.jpg" class="glightbox">
          <img style="height: 105px;" src="https://a.cdn-hotels.com/gdcs/production2/d1963/0f6d0b5b-499c-4d1c-8995-1d2ea4f9a9a4.jpg"
            alt="image" />
        </a>
      </li>
    </ul>
  
  </div>
  
  <!--3-->
  
  <div> 
    <ul>
      <li style="float: left; margin: 5px;">
  
        <a href="https://static.wixstatic.com/media/ca437f_6a3137351c614e0caa432561e8ca9deb~mv2.jpg/v1/crop/x_221,y_0,w_2437,h_1800/fill/w_594,h_462,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Eiffel-Tower-Wallpapers.jpg" class="glightbox">
  
          <img style="height: 105px;" src="https://static.wixstatic.com/media/ca437f_6a3137351c614e0caa432561e8ca9deb~mv2.jpg/v1/crop/x_221,y_0,w_2437,h_1800/fill/w_594,h_462,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Eiffel-Tower-Wallpapers.jpg"
            alt="image" />
  
        </a>
      </li>
  
      <li style="float: left; margin: 5px;">
        <a href="https://blog.biletbayi.com/wp-content/uploads/2022/07/collegiate-church-scaled.jpg" class="glightbox">
  
          <img style="height: 105px;" src="https://blog.biletbayi.com/wp-content/uploads/2022/07/collegiate-church-scaled.jpg"
            alt="image" />
  
        </a>
      </li>
  
      <li style="float: left; margin: 5px;">
  
        <a href="https://www.medyamidas.com/images/haberler/2021/09/guney_kore_de_gezilecek_yerler_h10896_47fbd.jpg" class="glightbox">
  
          <img style="height: 105px;" src="https://www.medyamidas.com/images/haberler/2021/09/guney_kore_de_gezilecek_yerler_h10896_47fbd.jpg"
            alt="image" />
  
        </a>  
      </li> 
    </ul>
  
  
  
  </div>
  
  <!--4-->
  
  <div>
    <ul>
      <li style="float: left; margin: 5px;">
        <a href="https://media.istockphoto.com/id/521707831/tr/foto%C4%9Fraf/seoul-south-korea-skyline.jpg?s=612x612&w=0&k=20&c=vOuZI3UqqQu1fXYLDOCz2oLuQqnZmsh43AH_VM9P3VA=" class="glightbox">
          <img style="height: 105px;" src="https://media.istockphoto.com/id/521707831/tr/foto%C4%9Fraf/seoul-south-korea-skyline.jpg?s=612x612&w=0&k=20&c=vOuZI3UqqQu1fXYLDOCz2oLuQqnZmsh43AH_VM9P3VA="
            alt="image" />
  
        </a>
      </li>
    </ul>
  
  
  
  </div>
  
  </div>