
<div class="container">

    <div class="row mt-3">
        <div class="col-md-3">

            <div class="list-group">
                <a routerLinkActive="active" routerLink="/anasayfa" class="list-group-item list-group-item-action"
                    aria-current="true">
                    Ziyaretçi
                </a>
                <a routerLinkActive="active" routerLink="/admin/admin-home-page" class="list-group-item list-group-item-action"
                    aria-current="true">
                    Ana Sayfa
                </a>
                <a routerLinkActive="active" routerLink="/admin/posts-page"
                    class="list-group-item list-group-item-action">Post Sayfası</a>
                <a routerLinkActive="active" routerLink="/admin/user-page"
                    class="list-group-item list-group-item-action">Kullanıcı Bilgileri</a>
                <a routerLinkActive="active" routerLink="/admin/visitor-page"
                    class="list-group-item list-group-item-action">Ziyaretçi Bilgileri</a>
              

            </div>

        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>

        </div>
    </div>

</div>






