<p>template-driven works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <form #productForm="ngForm" (ngSubmit)="saveProduct(productForm)">


                <div>
                    <h3>Form Properties</h3>
                    <ul>
                        <li> Valid:{{productForm.valid}}</li>
                        <li> Invalid:{{productForm.invalid}}</li>
                        <li> Errors:{{productForm.errors|json}}</li>
                        <li> Touched:{{productForm.touched}}</li>
                        <li> Untouched:{{productForm.untouched}}</li>
                        <li> Dirty:{{productForm.dirty}}</li>
                        <li> Pristine:{{productForm.pristine}}</li>
                    </ul>
                </div>



                <div class="mb-3">
                    <label class="form-label">İsim: </label>
                    <input 
                    [ngClass]="{
                        invalid: isInvalid(txtName.control),
                        valid: isValid(txtName.control)
                    }"
                     #txtName="ngModel"
                     name="name" 
                     [ngModel]="newProduct?.name" 
                      type="text"
                      class="form-control"
                      required
                      maxlength="10"
                      minlength="5"
                      >

                      <div class="form-text text-danger">
                        <div *ngIf="isInvalid(txtName.control)">
                            <div *ngIf="txtName.errors?.['required']"> 
                                ürün isim alanı gereklidir.
                             </div>

                          <div *ngIf="txtName.errors?.['minlength']|| txtName.errors?.['maxlength']">
                            ürün isim alanı en az 5 karakter en fazla 10 karakter olmalıdır
                          </div>
                        


                        </div>

                      </div>
                     
                </div>

                <div>
                    <h3>Product Name Properties</h3>
                    <ul>
                        <li> Value:{{txtName.value}}</li>
                        <li> Valid:{{txtName.valid}}</li>
                        <li> Invalid:{{txtName.invalid}}</li>
                        <li> Errors:{{txtName.errors|json}}</li>
                        <li> Touched:{{txtName.touched}}</li>
                        <li> Untouched:{{txtName.untouched}}</li>
                        <li> Dirty:{{txtName.dirty}}</li>
                        <li> Pristine:{{txtName.pristine}}</li>
                    </ul>
                </div>

                <div class="mb-3">
                    <label class="form-label">Fiyat: </label>
                    <input #txtPrice="ngModel"
                     name="price" 
                     [ngModel]="newProduct?.price"
                      type="number"
                      class="form-control"
                      required
                      min="100"
                      max="1000"
                      >
                </div>

                <div>
                    <h3>Product Price Properties</h3>
                    <ul>
                        <li> Value:{{txtPrice.value}}</li>
                        <li> Valid:{{txtPrice.valid}}</li>
                        <li> Invalid:{{txtPrice.invalid}}</li>
                        <li> Errors:{{txtPrice.errors|json}}</li>
                        <li> Touched:{{txtPrice.touched}}</li>
                        <li> Untouched:{{txtPrice.untouched}}</li>
                        <li> Dirty:{{txtPrice.dirty}}</li>
                        <li> Pristine:{{txtPrice.pristine}}</li>
                    </ul>
                </div>




                <div class="mb-3">
                    <label class="form-label">Stok: </label>
                    <input name="stock" [ngModel]="newProduct?.stock" type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Kategori: </label>
                    <input name="category" [ngModel]="newProduct?.category" type="text" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">Kaydet</button>
            </form>


        </div>
    </div>
</div>